<mat-accordion>
  <mat-expansion-panel *ngFor="let user of updateUserService.users" >
    <mat-expansion-panel-header  (click)="onSelect(changeUserForm)">
      <mat-panel-title>
        {{user.name}} {{user.surname}}
      </mat-panel-title>
      <mat-panel-description>
        {{user.email}}
        <button mat-raised-button color="primary" (click)="deleteUser(user.id, changeUserForm)">Delete user</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <label>Name: {{user.name}} Surname: {{user.surname}} Email: {{user.email}} Phone number: {{user.phonenumber}} Date of Birth: {{user.dateOfBirth}}
        Date of added: {{user.dateOfAdded}}  Date of changed: {{user.dateOfChanged}}</label>
    </div>
    <form  #changeUserForm="ngForm">
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="name" name="name" placeholder="Name" minlength="4" #nameModel="ngModel" required autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="surname" name="surname" placeholder="Surname" minlength="4" #surnameModel="ngModel" required autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="email" [(ngModel)]="email" name="email" placeholder="Email" minlength="4" #emailModel="ngModel" required email pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <span matPrefix>+ &nbsp;</span>
          <input type="tel" matInput placeholder="Telephone" [(ngModel)]="phonenumber" name="phonenumber" #phoneModel="ngModel" required  pattern="[0-9]{10}" autocomplete="off">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput max="{{maxdate}}" name="dateOfBirth" ngModel="dateOfBirth" #dateModel="ngModel" [matDatepicker]="picker" placeholder="Choose a date" required autocomplete="off">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button (click)="changeUser(user, changeUserForm)" color="primary"
                [disabled]="nameModel.invalid || surnameModel.invalid || emailModel.invalid || phoneModel.invalid || dateModel.invalid">Change user</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>


