<form #createUserForm="ngForm" class="example-container">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="createUserForm.value.name" minlength="4" name="name" #nameModel="ngModel" required autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="surname" [(ngModel)]="createUserForm.value.surname" minlength="4" name="surname" #surnameModel="ngModel" required autocomplete="off">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="email" [(ngModel)]="createUserForm.value.email" name="email" #emailModel="ngModel" required email pattern="[a-zA-Z_0-9]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" autocomplete="off">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <span matPrefix>+ &nbsp;</span>
    <input type="tel" matInput placeholder="Telephone" [(ngModel)]="createUserForm.value.phonenumber" name="phonenumber" #phoneModel="ngModel" required  pattern="[0-9]{10}" autocomplete="off">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput max="{{maxdate}}" name="dateOfBirth" ngModel="createUserForm.value.dateOfBirth" #dateModel="ngModel" [matDatepicker]="picker" placeholder="Choose a date" autocomplete="off">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="createUser(createUserForm)" [disabled]="nameModel.invalid || surnameModel.invalid || emailModel.invalid || phoneModel.invalid || dateModel.invalid">Create user</button>
</form>


