<div class="details" *ngIf="user">

  <h2>{{user.name}} {{user.surname}} details:</h2>
  <form  #changeUserForm="ngForm" (ngSubmit)="changeUser(changeUserForm)">
    <div class="details_item">
      <label>name:
        <input [(ngModel)]="name" name="name" placeholder="{{user.name}}" #nameModel="ngModel" required/>
      </label>
      <label>surname:
        <input [(ngModel)]="surname" name="surname" placeholder="{{user.surname}}" #surnameModel="ngModel" required/>
      </label>
    </div>
    <div class="details_item">
      <label>email:
      <input type="email" [(ngModel)]="email" name="email" placeholder="{{user.email}}" #emailModel="ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}"/>
      </label>
      <label>phone number:
        <input [(ngModel)]="phonenumber" name="phonenumber" placeholder="{{user.phonenumber}}" #phoneModel="ngModel" required pattern="[0-9]{10}"/>
      </label>
    </div>
    <div  class="details_item">
      <label>date of birth:
        <input type="date" [(ngModel)]="dateOfBirth" name="dateOfBirth" max="{{maxdate}}" placeholder="{{user.dateOfBirth}}" #dateModel="ngModel" required />
      </label>
    </div>
    <div class="details_item">
      <label>date of added: </label> {{user.dateOfAdded}} <br> <br>
      <label>date of changed: </label> {{user.dateOfChanged}}
    </div>
    <input type="submit" value="Change" [disabled]="nameModel.invalid || surnameModel.invalid || emailModel.invalid || phoneModel.invalid || dateModel.invalid">
  </form>

</div>
